* {
	margin:0;
	padding:0;
}
body {
	font-family:Arial, Helvetica, sans-serif;
	font-size:medium;
	background: url(../images/siteBackground.png);
	color: #d4d4d4;
}
ul, ol, dl { /* Due to variations between browsers, it's best practices to zero padding and margin on lists. For consistency, you can either specify the amounts you want here, or on the list items (LI, DT, DD) they contain. Remember that what you do here will cascade to the .nav list unless you write a more specific selector. */
	padding: 0;
	margin: 0;
}
h1 {
	background: -moz-linear-gradient(center top , #030303, #232323) repeat scroll 0 0 transparent;
	background: -webkit-gradient(linear, left top, left bottom, from(#030303), to(#232323));	
    padding: 10px 15px;
	border:0;
	-moz-box-shadow: 0 4px 1px #000000;
	-webkit-box-shadow: 0 4px 1px #000000;
	box-shadow: 0 4px 1px #000000;
	font-size:18px;
	text-align:center;
	color:#c3e0f0;
	margin:20px;
}

p {
	text-align: center;
	margin:10px 20px;
	font-size: 12px;
}

#checkoutTxt {
	text-align: center;
	margin:10px 20px;
	font-size: 16px;
	font-weight: bold;
}

a img { /* this selector removes the default blue border displayed in some browsers around an image when it is surrounded by a link */
	border: none;
}
a:link {
	color:#6daad0;
	text-decoration: underline;
}
a:visited {
	color: #6daad0;
	text-decoration: underline;
}
a:hover, a:active, a:focus { 
	text-decoration: none;
	color:#6daad0;
}
.container {
	width:100%; 
	overflow:hidden;
	font-size:12px;
}
.header {
}
.logo {
	padding:30px 20px;
}
.homeTop {
	position:absolute;
	right:20px;
	top:10px;
}
.homeBottom {
	position:relative;
}
.homeTop a, .homeBottom a {
	color:#FFF;
	text-decoration:none;
	font-size:14px;
	display:block;
	display: compact;
	padding:5px 15px;
}
.headerContent {
	background:url(../images/headerBackground.jpg) repeat-x left top;
	height:246px;
}
.headerPic {
	background:url(../images/headerPic.jpg) no-repeat left top;
	height:246px;
	position:relative;
}
.headerTitle {
	-moz-transition: all 0.26s ease-out 0s;
    background-image: -moz-linear-gradient(left center , transparent, transparent 2%, rgba(255, 255, 255, 1));
    background-size: 200% 100%;
    color: #2554C7;
    display: block;
    overflow: hidden;
	font-size:18px;
	padding:10px 20px;
	position:absolute;
	bottom:0;
	right:0;
	font-weight:bold;
	text-align: right;
}
.buttonStyle {
	background: -moz-linear-gradient(center top , #a0c8e0, #5a9cc5) repeat scroll 0 0 transparent;
	background: -webkit-gradient(linear, left top, left bottom, from(#a0c8e0), to(#5a9cc5));	
    color: #FFFFFF;
	border:0;
	cursor:pointer;
	-moz-box-shadow: 0 4px 3px #000000;
	-webkit-box-shadow: 0 4px 3px #000000;
	box-shadow: 0 4px 3px #000000;
	display:block;
}
.mainMenu {
	text-align:center;
}
.siteContent span {
	color:#6daad0;
}
.siteContent .medallions{
	font-size: 16px;
	text-align:center;
	margin:0 20px;
	min-width: 40px;
	display: inline-block;
}

.siteContent #productPage{
	font-size: 16px;
	text-align:center;
	margin:0 20px;
	color:#D4D4D4;
	font-weight: bold;
}


.siteContent li {
	list-style:none;
	margin:10px 20px;
}
.siteContent a {
	color:#ffffff;
	text-decoration:none;
	display:block;
}
.siteContent .menuButtonStyle {
	background: -moz-linear-gradient(center top , #a0c8e0, #5a9cc5) repeat scroll 0 0 transparent;
	background: -webkit-gradient(linear, left top, left bottom, from(#a0c8e0), to(#5a9cc5));	
    padding: 10px 15px;
	border:0;
	cursor:pointer;
	-moz-box-shadow: 0 4px 3px #000000;
	-webkit-box-shadow: 0 4px 3px #000000;
	box-shadow: 0 4px 3px #000000;
	font-size:18px;
	text-align:center;
}
.footer {
	background:#000000;
	text-align:center;
	padding:15px 0;
	position:relative;
	margin-top:50px;
	font-size: 12px;
}
.clearfloat { 
	clear:both;
	height:0;
	font-size: 1px;
	line-height: 0px;
}

.contentWrapper  /* div containing products */
{
margin: 0 auto;
text-align: center;
}

.headerText {
font-weight: bold;
color: white;
font-size: 16px;

}

.minusButton{
	margin:0 0 0 5px;
	cursor:pointer;
	width:29px;
	height:29px;
	text-align:center; 
	background: url(../images/buttons.png)no-repeat; 
	display: inline-block;
	background-position: 0 -29px;
}
.plusButton{
	margin:0 0 0 5px;
	cursor:pointer;
	width:29px;
	height:29px;
	text-align:center;
	background: url(../images/buttons.png)no-repeat;
	display: inline-block;
}

.checkoutInputOps{
	display: inline-block;
}

#dropDownType{
	width: 180px;
	font-weight: bold;
}

.inputBox{
	width:60px;
	margin-left:5px;
}

.hideItems {
	Display: none;
}


/*  */

/*  products page paragraph */
